<nav class="menuWrapper">
  <ul class="popover popover--menu">
    <li class="menu-avatar">
      <a href="{{ site.baseurl }}/" class="brandLogo brandLogo--small
      {% if page.bgContrast == "light" %}
        brandLogo--black
      {% endif %}
      ">{{ site.name }}</a>
      <ul class="list list--avatarMenu hidden">
        <li class="list-item"><a href="">Twitter</a></li>
        <li class="list-item"><a href="">LinkedIn</a></li>
        <li class="list-item"><a href="">Quora</a></li>
        <li class="list-item"><a href="">Dribbble</a></li>
        <li class="list-item"><a href="">Kiva</a></li>
      </ul>
    </li>
  </ul>
</nav>
