---
layout: default
title: About Vincent Chan
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Vincent Chan</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              a lifelong learner
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>An ex-banking analyst turned entrepreneur, who is hugely influenced by the book “Built to Last”. Vincent was the co-founder of Primitus. He left his job at Citi to pursue success on his own terms. He is passionate about changing the world through great technology products. His dream is to build a lasting company and a global brand that can represent his hometown, Hong Kong. Vincent graduated from UCLA in 2007 with a degree in Economics.</p>
        <h4>Motto</h4>
        <p class="u--startsWithDoubleQuote">“If you can dream it, you can do it. Always remember that this whole thing was started with a dream and a mouse.” - Walt Disney</p>
        <h4>Goals (short term)</h4>
        <ul>
          <li>Become a full stack entrepreneur (design, engineering, growth)</li>
          <li>Become a good dad</li>
          <li>Share lessons and failures to help fellow entrepreneurs</li>
          <li>Spend more time on side projects</li>
          <li>Do more exercises</li>
        </ul>
        <h4>Dreams (long term)</h4>
        <ul>
          <li>Building a global brand which can represent my hometown</li>
          <li>Building a lasting company</li>
          <li>Building a company not only selling products but also dreams</li>
          <li>Help youngsters to make their dreams come true</li>
        </ul>
        <h4>Role Models</h4>
        <p>
          Walt Disney, Steve Jobs, Al Gore, Bill Campbell, Bill Gates, Charlie Munger, Howard Schultz, Jim Collins, Sheryl Sandberg, Warren Buffett, Cher Wang, Masayoshi Son, Tadashi Yanai, Reid Hoffman, Peter Thiel, Paul Graham, Seth Godin, Steve Blank, Jeff Bezos.
        </p>
        <h4>Favorite Companies</h4>
        <p>
          Disney, Apple, Google, IKEA, Intuit, Procter & Gamble, Sony, Starbucks, Toyota, Pixar, Zappos, HubSpot, LinkedIn.
        </p>
        <h4>Favorite Startups</h4>
        <p>
          GitHub, Buffer, Airbnb, Dropbox, Square, Atlassian, Automattic, Evernote, Squarespace, InVision, Pinterest, Intercom, FiftyThree, Slack.
        </p>
        <h4>Favorite Brands</h4>
        <p>
          37signals, Apple, Canon, Coca-Cola, Disney, innocent drinks, method, Nike, Muji, Patagonia.
        </p>
        <p>
          Photo Credit: <a href="http://www.pixar.com/short_films/Theatrical-Shorts/La-Luna" target="_blank">Pixar's La Luna</a>
        </p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
