---
layout: default
title: About Anna Prigkipaki
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="https://cloud.githubusercontent.com/assets/14811095/10153632/eff1743c-6666-11e5-87bc-b6cef4930b1c.jpg" style="" alt="">
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Anna Prigkipaki</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              aspiring photographer & art lover
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>Coming Soon...</p>
        <h4></h4>
        <p class="u--startsWithDoubleQuote"> </p>
        <h4> </h4>
        <ul>
          
        </ul>
        <h4> </h4>
        <ul>
          
        </ul>
        <h4> </h4>
        <p>
          
        </p>
        <h4> </h4>
        <p>
          
        </p>
        <h4> </h4>
        <p>
          
        </p>
        <h4> </h4>
        <p>
          
        </p>
        <p>
          
        </p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
