            <div class="notepad-author-info">
                <div class="row">
                    <section class="notepad-post-author small-12 columns">
                        
                            <img src="{{site.url}}/images/{{ site.owner.avatar }}" class="notepad-post-author-avatar" alt="{{ site.owner.name }}'s photo">
                        
                        
                            <span class="author-label">Author</span>
                            <h1>{{ site.owner.name }}</h1>
                        
                        
                            <p><a href="mailto:{{ site.owner.email }}" class="author-website">{{ site.owner.email }}</a>

			    <iframe src="//www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fameyjadiye&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe> 
			    </p>
                        
                        
                            <p>{{ site.owner.description }}</p>
                        
                    </section>
                </div>
            </div>
