//
// Animations
// --------------------------------------------------

@mixin transition($speed, $prop:all, $ease:ease-in) {
  -webkit-transition: $prop $speed $ease;
  -moz-transition: $prop $speed $ease;
  -ms-transition: $prop $speed $ease;
  -o-transition: $prop $speed $ease;
  transition: $prop $speed $ease;
}

.animate {
	transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
}

.scaleIn {
	transform: scale(0);
}
